[submodule "application_support/TextMate/Bundles/Zen-css.tmbundle"]
	path = application_support/TextMate/Bundles/Zen-css.tmbundle
	url = git://github.com/blakehilscher/zen-css.git
	
[submodule "application_support/TextMate/Bundles/Ruby-Slim.tmbundle"]
	path = application_support/TextMate/Bundles/Ruby-Slim.tmbundle
	url = git://github.com/fredwu/ruby-slim-tmbundle.git
	
[submodule "application_support/TextMate/Bundles/CoffeeScript.tmbundle"]
	path = application_support/TextMate/Bundles/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle.git

[submodule "application_support/TextMate/Bundles/ruby-haml.tmbundle"]
	path = application_support/TextMate/Bundles/ruby-haml.tmbundle
	url = https://github.com/textmate/ruby-haml.tmbundle.git
	
[submodule "Ack.tmbundle"]
  path = application_support/TextMate/Bundles/Ack.tmbundle
	url = git://github.com/protocool/ack-tmbundle.git
	
[submodule "application_support/TextMate/Bundles/sass-textmate-bundle"]
	path = application_support/TextMate/Bundles/sass-textmate.tmbundle
	url = https://github.com/seaofclouds/sass-textmate-bundle.git
[submodule "application_support/TextMate/Bundles/javascript.tmbundle"]
	path = application_support/TextMate/Bundles/javascript.tmbundle
	url = git://github.com/subtleGradient/javascript.tmbundle.git
[submodule "application_support/TextMate/Bundles/ruby-on-rails.tmbundle"]
	path = application_support/TextMate/Bundles/ruby-on-rails.tmbundle
	url = https://github.com/Tricon/ruby-on-rails-tmbundle
[submodule "application_support/TextMate/Bundles/SCSS.tmbundle"]
	path = application_support/TextMate/Bundles/SCSS.tmbundle
	url = git://github.com/kuroir/SCSS.tmbundle.git
[submodule "application_support/TextMate/Bundles/zen-coding.tmbundle"]
	path = application_support/TextMate/Bundles/zen-coding.tmbundle
	url = git://github.com/sergeche/zen-coding.git
[submodule "application_support/TextMate/Bundles/bh-compass-textmate.tmbundle"]
	path = application_support/TextMate/Bundles/bh-compass-textmate.tmbundle
	url = git://github.com/blakehilscher/bh-compass-textmate-bundle.git
[submodule "application_support/TextMate/Bundles/less.tmbundle"]
	path = application_support/TextMate/Bundles/less.tmbundle
	url = git://github.com/appden/less.tmbundle.git
