<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>rails-casts-themes-tm2</string>
	<key>description</key>
	<string>rails-casts-themes-tm2</string>
	<key>name</key>
	<string>rails-casts-themes-tm2</string>
	<key>uuid</key>
	<string>0A8220C8-6832-4F50-837F-B75C9ABEF88B</string>
</dict>
</plist>
